/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* variables */
/* nesting */
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header nav a {
  color: darkred;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header nav a {
    color: blue;
  }
}
.all {
  margin: 2%;
}
.all .topsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all .topsection .mainpic {
  width: 50%;
  margin: auto;
  padding: 15px;
}
.all .topsection h1 {
  font-size: 2.6rem;
}
.all .bottomsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.all h2 {
  font-size: 1.4rem;
  color: darkred;
  margin: 2%;
}
@media (max-width: 500px) {
  .all h2 {
    color: blue;
  }
}
.all p {
  font-size: 1rem;
}
@media (max-width: 500px) {
  .all p {
    border-bottom: 2px solid black;
  }
}
.all a {
  color: black;
  text-decoration: none;
}
.navflexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.topsectionflexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottomsectionflexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.borderbottom {
  border-bottom: 2px solid black;
}
